*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

body {
    display: flex;
    justify-content: center;
    background-color:rgb(89, 162, 234);
    align-items: center;
    height: 100vh;
    
}

.cal-body {
    width:300px;
    color:white;
    background-color: black;
    overflow: hidden;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2px;
    padding: 10px;
    
}

.display {
    padding:15px ;
    grid-column: span 4;
    background-color: white;
    border-radius: 5px;
    font-size: 2rem;
    color:black;
    text-align: right;
    overflow-x: auto;
    font-weight: bold;
}

.keys {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 39);
    height: 60px;;
    border-radius:50% ;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
    transform: all 0.2s ease;
    
    
}
.zero{
    display: flex;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 39);
    border-radius:30px ;
    height:auto;
    width: auto;
    border-radius:30px ;
}

.keys:hover {
    background-color: blueviolet;
    color: black;
    transition: background-color 0.3s ease;

}

.keys:active,.zero:hover{
    transform: scale(0.95);
}

.white {
    background-color: rgb(231, 234, 236,0.8);

}

.orange {

    background-color: orangered;

}